#main-background {
    background-color: rgb(236, 177, 236);
    /* border: 1px solid red; */
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}

#eightball-image-box {
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}
  


#eightball-image {
    max-width: 350px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
   
}


#heading-3 {
    text-align: center; 
    color: purple;
    font-size: 18px;
    font-family: Sixtyfour;
    justify-content: center;
    display: flex;
    /* border: 1px solid red; */

}


.title-one {
    text-align: center;
    color: purple;
    font-size: 35px;
    font-family: Sixtyfour;
    /* border: 1px solid red; */
}